.github-min {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}
.github-min a {
  color: #0366d6;
  text-decoration: none;
}
.github-min a:hover {
  text-decoration: underline;
}
.github-min h1,
.github-min h2,
.github-min h3,
.github-min h4,
.github-min h5,
.github-min h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.github-min h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.github-min h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
.github-min code,
.github-min pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 12px;
}
.github-min code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.github-min pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
.github-min pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.github-min blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.github-min table {
  display: block;
  width: 100%;
  overflow: auto;
}
.github-min table th {
  font-weight: 600;
}
.github-min table th,
.github-min table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.github-min table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.github-min table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.github-min img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.github-min kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.github-min .markdown-body {
  padding: 16px;
}
.github-min .btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
}
.github-min .btn-primary {
  color: #fff;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, 0.15);
}
.github-min .btn-primary:hover {
  background-color: #2c974b;
}
.github-min .btn-outline {
  color: #0366d6;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
}
.github-min .btn-outline:hover {
  background-color: #f3f4f6;
}
.github-min .box {
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.github-min .box-header {
  padding: 8px 16px;
  margin: -1px -1px 0;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.github-min .box-body {
  padding: 16px;
  border-bottom: 1px solid #e1e4e8;
}
.github-min .box-footer {
  padding: 8px 16px;
  margin-top: -1px;
  background-color: #f6f8fa;
  border-top: 1px solid #e1e4e8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.github-min .alert {
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.github-min .alert-warning {
  color: #735c0f;
  background-color: #fffbdd;
  border-color: #fffbdd;
}
.github-min .alert-danger {
  color: #86181d;
  background-color: #ffdce0;
  border-color: #ffdce0;
}
.github-min .alert-success {
  color: #165c26;
  background-color: #dcffe4;
  border-color: #dcffe4;
}
.github-min .nav {
  padding-left: 0;
  list-style: none;
}
.github-min .nav-item {
  display: inline-block;
}
.github-min .nav-link {
  display: inline-block;
  padding: 4px 8px;
  color: #0366d6;
}
.github-min .nav-link:hover {
  text-decoration: none;
  color: #0366d6;
  border-bottom: 2px solid #0366d6;
}
.github-min .tabnav {
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e4e8;
}
.github-min .tabnav-tabs {
  margin-bottom: -1px;
}
.github-min .tabnav-tab {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #586069;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
}
.github-min .tabnav-tab.selected {
  color: #24292e;
  background-color: #fff;
  border-color: #e1e4e8;
  border-radius: 3px 3px 0 0;
}
.github-min .breadcrumb {
  font-size: 16px;
  color: #586069;
}
.github-min .breadcrumb-item {
  display: inline-block;
}
.github-min .breadcrumb-item + .breadcrumb-item:before {
  content: "/";
  padding: 0 4px;
}
.github-min .header {
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
}
.github-min .header-logo {
  fill: #fff;
}
.github-min .header-link {
  color: rgba(255, 255, 255, 0.75);
}
.github-min .header-link:hover {
  color: #fff;
  text-decoration: none;
}
